* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  padding: 15px;
  font-family: Arial, sans-serif;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  display: flex;
}
.logo {
  width: 200px;
}
.logo img {
  height: 50px;
}
.navlinks {
  display: flex;
  align-items: center;
  gap: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
}
.signbtns button {
  height: 40px;
  width: 95px;
  margin-left: 10px;
  font-size: 17px;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 999px;
  border: none;
}
.signbtns button:nth-child(2) {
  background-color: black;
  color: white;
}
.hero h1 {
  margin-top: 40px;
  text-align: center;
  font-family: GeorgiaProW01-Regular;
  font-weight: 100;
  font-size: 70px;
}
.hero p {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
}
.search-box {
  width: 50%;
  height: 60px;
  margin: 30px auto;

  background: #f1f1f3;
  border-radius: 999px;

  display: flex;
  align-items: center;
  padding: 0 15px 0 30px;
}

.search-box input {
  flex: 1;

  border: none;
  outline: none;
  background: transparent;

  font-size: 20px;
  color: #222;
}

.search-box input::placeholder {
  color: #9ba0ad;
}

.category {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 20px;
  margin-right: 25px;
}

.search-btn {
  width: 40px;
  height: 40px;

  border: none;
  border-radius: 50%;

  background: #e94f8b;
  color: white;

  font-size: 22px;
  cursor: pointer;
}
.search-btn:hover {
  background: transparent;
}
.search-box:hover {
  background: transparent;
}
.trending-search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.trending-search-bar span {
  color: #a1a1ad;
}
.trending-search-bar button {
  height: 35px;
  width: fit-content;
  padding: 0 18px;

  font-size: 15px;
  font-weight: 400;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  border-radius: 999px;
  border: none;
}
.trending-search-bar button:hover {
  background: transparent;
}
.popular-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  margin-top: 70px;
}
.popular-buttons {
  display: flex;
  justify-content: center;
  gap: 35px;
}
.popular-buttons button {
  font-size: 17px;
  border: 0px;
  background: none;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.popular-buttons button:nth-child(1) {
  background-color: #f0f0f0;
  height: 35px;
  width: fit-content;
  padding: 0 18px;
  border-radius: 999px;
}

.popular-bar > button:nth-child(1) {
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 35px;
  width: fit-content;
  padding: 0 18px;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
}
.popular-bar > button:nth-child(3) {
  border: 1px solid rgba(0, 0, 0, 0.4);
  height: 35px;
  width: fit-content;
  padding: 0 18px;
  border-radius: 15px;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 8px;
  background: transparent;
}
.grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 50px;
  column-gap: 34px;
  row-gap: 15px;
}
.card {
  width: 100%;
  aspect-ratio: 1.35 / 1;
  background-color: #9ba0ad;
  border-radius: 15px;
  overflow: hidden;
}
